@import './variables.scss';

.popoverOverlayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 2rem;
  flex-wrap: wrap;
  overflow-x: hidden; 

  h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 42px;
  }

  .languageSelector {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    max-width: 340px;
    padding: 0.5rem 0;

    svg {
      width: 24px;
      height: 24px;
    }

    label {
      font-size: 14px;
      font-weight: 400;
      color: $tone-1-color;
    }

    select {
      margin-left: auto;
      width: auto;
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      outline: none;

      option {
        color: #000;
      }
    }
  }

  .actionButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 340px;
    text-align: left;

    button {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      background: none;
      border: none;
      font-size: 14px;
      font-weight: 400;
      color: $tone-1-color;
      padding: 0.5rem 0;
      cursor: pointer;
      text-align: left;
      width: 100%;

      span {
        flex-grow: 1;
        text-align: left;
      }
    }
  }
  &.compact {
    padding: 4px;
    h3{
      margin-bottom: 16px;
    }
  }
}
