<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcript plugin for player V7 - Test page</title>



    <!--
        Step 1: Choose how to fetch the player

        Note:
        - You can use any version that exists in the QA bundler.
        - You can still stream entries from production.
        - Partner 6560 in QA was created specially for the development of player v7 VAMB plugins.
        - Feel free to add entries and enable features, avoid altering existing entries.

        For latest version:
        -------------------
        <script src="https://qa-apache-php7.dev.kaltura.com/p/6560/embedPlaykitJs/uiconf_id/15224252"></script>


        Specific player version:
        -------------------
        - replace {version-number} with valid version in QA server (like 0.47.8-vamb.1)

        <script src="https://qa-apache-php7.dev.kaltura.com/p/6560/embedPlaykitJs/uiconf_id/15224252/versions/kaltura-ovp-player={version-number}"></script>


        Test integration with additional plugins:
        -------------------------------------------
        - Replace {list-of-plugins-separated-with-comma} with list of plugins (like qna=4.0.1,transcript=1.0.0)
        - Avoid listing this repo plugin otherwise it will cause duplication.

        <script src="https://qa-apache-php7.dev.kaltura.com/p/6560/embedPlaykitJs/uiconf_id/15224252/versions/{list-of-plugins-separated-with-comma}"></script>

    -->

    <!-- Using specific version of player until core player will include infrastructure needed by VAMB plugins -->
    <script src="https://qa-apache-php7.dev.kaltura.com/p/6560/embedPlaykitJs/uiconf_id/15224252/versions/kaltura-ovp-player=0.47.8-vamb.1"></script>

    <script>
        // Step 2: configure the player with relevant information

        const partnerId = "6560"; // 6560 = partner in QA dedicated for plugins test page
        const uiConfId = "15224252"; // 15224252 = uiConf of 6560 in QA dedicated for plugins test page
        const ks = "";
        const userId = ""; // usually optional, mandatory for webcast plugins (ie Shimi)
        const entryId = "0_dbwcaqfq"; // 0_dbwcaqfq = sample entry of 6560 in QA
        const switchMediaEntryId = ""; // optional

        // Step 3: choose which environment to use at runtime (qa / production)
        // qa server
        let env = {
            serviceUrl:"https://qa-apache-php7.dev.kaltura.com/api_v3",
            cdnUrl: "https://qa-nginx-vod.dev.kaltura.com"
        };

        // uncomment this to use production
        // env = {
        //     serviceUrl:"https://cdnapisec.kaltura.com/api_v3",
        //     cdnUrl: "https://cfvod.kaltura.com"
        // };

        // Step 4: configure relevant plugins
        const plugins =  {
            'transcript': {
            }
        };

    </script>

    <!-- Note: Don't modify this part -->
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %><script id="bundle" async src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><% } %>

    <link rel="stylesheet" href="resize.css">
    <script src="resize.js"></script>

    <style>
        #player-div {
            display: inline;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>
    <!-- End of Note: Don't modify this part -->
</head>

<body>
<h1>Transcript plugin for player V7 - Test page</h1>
<button onclick="changeMedia()">test change media</button>
<div style="position:relative;margin-top:10px">
    <div class='resizable'>
        <div id="player-div"></div>
        <div class='resizers'>
            <div class='resizer top-left'></div>
            <div class='resizer top-right'></div>
            <div class='resizer bottom-left'></div>
            <div class='resizer bottom-right'></div>
        </div>
    </div>
</div>

<script>
    var player;


    function changeMedia() {
        player.loadMedia({
            entryId: switchMediaEntryId
        });
    }

    var config = {
        logLevel: "DEBUG",
        targetId: "player-div",
        provider: {
            env,
            partnerId,
            uiConfId,
            ks
        },
        session: {
            userId
        },
        plugins,
        ui: {
            debug: true
        }
    };

    document.getElementById("bundle").onload =  function(){

        var mediaInfo = {entryId};
        player = KalturaPlayer.setup(config);
        player.loadMedia(mediaInfo);
    }

    makeResizableDiv('.resizable');
</script>

</body>

</html>
