@import '../../variables.scss';

.caption {
  color: $white-color;
  .caption-time {
    padding-right: 6px;
    vertical-align: top;
    font-size: 1.1em;
    line-height: 1.75;
  }
  .caption-content {
    font-size: 1.3em;
    line-height: 1.4;
    text-align: left;
    &:hover {
      .caption-span {
        background-color: $semigray-color;
        &::selection {
          background-color: inherit;
        }
      }
      &.highlighted {
        .caption-span {
          color: $white-color;
        }
      }
    }
    &.highlighted {
      .caption-span {
        color: $black-color;
        background-color: $main-color;
      }
    }
    .caption-span {
      padding: 0 2px;
      user-select: text;
      cursor: pointer;
      &::selection {
        background-color: $text-selection-color;
      }
    }
    .highlight-search {
      color: $white-color;
      background-color: $semigray-color;
      border-radius: 1px;
    }
    .active-search {
      color: $black-color;
      background-color: $yellow-color;
      border-radius: 1px;
    }
  }
}