@import '../../variables.scss';

.caption {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 9px;
  margin-left: 8px;
  color: $tone-1-color;
  cursor: pointer;
  .caption-time {
    flex-shrink: 1;
    min-width: 48px;
    align-items: flex-start;
    margin-right: 8px;
    padding-top: 2px;
    text-align: right;
    font-size: 12px;
    color: $tone-2-color;
  }
  .caption-content {
    flex-grow: 1;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    user-select: text;
    &:hover {
      .caption-span {
        background-color: $tone-6-color;
      }
      &.highlighted {
        .caption-span {
          background-color: $primary-darker-color;
          padding: 0 2px;
        }
      }
    }
    &.highlighted {
      .caption-span {
        color: $primary-text-contrast-color;
        background-color: $primary-color;
        padding: 0 2px;
      }
    }
    &.without-time {
      margin-left: 16px;
    }
    .caption-span {
      user-select: text;
      -ms-user-select: text;
      border-radius: 2px;
      &::selection {
        background-color: $primary-brighter-color;
        padding: 0 2px;
      }
      & > span::selection {
        background-color: $primary-brighter-color;
      }
    }
    .highlight-search {
      color: $tone-8-color;
      background-color: $secondary-color;
      border-radius: 2px;
      &::selection {
        background-color: $primary-brighter-color;
      }
    }
    .active-search {
      color: $secondary-text-contrast-color;
      background-color: $primary-darker-color;
      border-radius: 2px;
      &::selection {
        background-color: $primary-brighter-color;
      }
    }
  }
}

// Copy protection for transcript text in detached mode
// Inherits from global .no-copy and adds span child selection protection
.no-copy-detached {
  @extend :global(.no-copy);

  & > span::selection {
    background: transparent;
  }
}
