.popover-container {
    position: relative;
    .popover-component {
        background-color: #222222;
        border-radius: 4px;
        position: absolute;
        right: 0px;
        font-size: 15px;
        display: block;
        &.visible {
            visibility: visible;
            opacity: 1;
            z-index: 10;
        }
        &.top {
            bottom: 100%;
            margin-bottom: 6px;
        }
        &.bottom {
            top: 100%;
            margin-top: 6px;
        }
        &.right {
            left: 0px;
        }
        &.left {
            right: 0px;
        }
    }
}
