
.spinner-ball {
    position: relative;
    width: 16vh;
    height: 15vh;
    max-height: 130px;
    max-width: 140px;
    margin: 4px 0 8px 0;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/loader.svg');

    animation: icon-bounce 2.0s infinite ease-in-out;
  }
  
  .bounce-frame {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #cccccc;
    position: absolute;
    opacity: 0.2;
    top: 0;
    left: 0;
  
    -webkit-animation: frame-bounce 2.0s infinite ease-in-out;
    animation: frame-bounce 2.0s infinite ease-in-out;
  }

  @keyframes icon-bounce {
    0%, 100% { opacity: 0.3 }
    50% { opacity: 1 }
  }
  
  @-webkit-keyframes frame-bounce {
    0%, 100% {
      -webkit-transform: scale(1.0);
      opacity: 0.1;
    }
    50% {
      -webkit-transform: scale(1.3);
      opacity: 0.1;
    }
  }
  
  @keyframes frame-bounce {
    0%, 100% {
      opacity: 0.1;
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    } 50% {
        opacity: 0.25;
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
      }
  }