@import '../../variables.scss';

.transcript-loader {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: $tone-3;
  margin: 0;
  animation: frame-bounce 2s infinite ease-in-out;
  overflow: hidden;
  svg {
    flex-shrink: 0;
  }
}

@keyframes frame-bounce {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.25;
  }
}
