@import '../../variables.scss';

.autoscroll-root {
  position: absolute;
  right: 12px;
  bottom: 25px;
  width: auto;
  height: 32px;
  padding: 4px;
}

.autoscroll-button {
  opacity: 0;
  z-index: 1;
  &.autoscroll-button-visible {
    opacity: 1;
  }
}
