@import '~@playkit-js/playkit-js-ui';
@import '../../variables.scss';

.attach-placeholder-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $plugin-background;

  .attach-text {
    line-height: 20px;
    font-weight: 700;
    letter-spacing: normal;
    color: $tone-1-color;
  }
  .attach-button {
    margin-top: 20px;
  }
}
