@import '../../variables.scss';

.search-wrapper {
  ::-moz-placeholder {
    opacity: 1
  }

  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 800px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.24);
  border: solid 1px rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  .search-icon {
    flex: 0 0 32px;
    background-color: transparent;
    background-position: center;
    background-image: url('../../assets/search.svg');
    width: 32px;
    height: 32px;
    margin: 0 2px;
  }
  .search-results {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 8px;
    font-size: 12px;
    text-overflow: ellipsis;
  }
  .prev-next-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin-right: 2px;
    .prev-next-button {
      width: 9px;
      height: 6px;
      background-color: transparent;
      background-position: center;
      background-size: cover;
      border: none;
      cursor: pointer;
      &.prev-button {
        background-image: url('../../assets/up.svg');
      }
      &.next-button {
        background-image: url('../../assets/down.svg');
      }
      &.disabled {
        opacity: 0.4;
        cursor: default;
      }
    }
  }
  .search-input {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 15px;
    padding: 0 6px 1px 0;
    color: $gray-color;
    background: transparent;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    &::placeholder {
      color: $gray-color;
    }
  }
  .clear-icon {
    flex: 0 0 32px;
    background-color: #11ffee00;
    background-position: center;
    background-image: url('../../assets/clear.svg');
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
  }
  &.active {
    color: $gray-color;
    background: $black-color;
  }
}
