@import '../../variables.scss';

.search-wrapper {
  ::-moz-placeholder {
    opacity: 1;
  }

  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  max-width: 599px;
  height: 32px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  border-radius: $roundness-1;
  .search-results {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    margin: 0 8px 0 6px;
    font-size: 12px;
    text-overflow: ellipsis;
  }
  .prev-next-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 100%;
    height: 100%;
    width: 8px;
    flex: 0 0 8px;
    margin-right: 8px;
    .prev-next-button {
      display: flex;
      align-items: center;
      height: 50%;
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      &.disabled {
        opacity: 0.4;
        cursor: default;
      }
    }
  }
  .search-input {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 15px;
    padding: 0 6px 1px 6px;
    color: $tone-1;
    background: transparent;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    &:focus {
      outline: none !important; // prevent focus styles inherited from playkit-player.playkit-nav
    }
    &::placeholder {
      color: $tone-2;
    }
    &::selection {
      background-color: $text-selected-color;
    }
  }
  .clear-icon {
    padding: 0;
    flex: 0 0 12px;
    max-width: 12px;
    max-height: 12px;
    background-color: transparent;
    width: 12px;
    height: 12px;
    outline-offset: 4px;
    border: none;
    cursor: pointer;
  }
  &:hover {
    border-color: #ffffff;
  }
  &.active {
    color: $tone-2;
    background: $tone-8;
    border-color: #ffffff;
  }
}
