@import './variables.scss';

$child-item-width: 170px;

.popover-anchor-container {
  cursor: pointer;
  border-radius: $roundness-1;

  &:hover {
    background-color: $tone-4-color;
  }

  &.active {
    background-color: $tone-6-color;
  }

  .popover-anchor {
    pointer-events: none;
  }
}

.popover-container {
  position: relative;

  .popover-component {
    background-color: $tone-7-color;
    border-radius: $roundness-1;
    display: block;
    font-size: 15px;
    margin-top: 6px;
    position: absolute;
    right: 0px;
    z-index: 1;
    &.child-item {
      margin-top: 0;
      top: 0;
      width: $child-item-width;
      max-height: calc(100% * 5.8); // height - almost 6 menu items like in player caption menu
      overflow-y: auto;
      position: fixed;
    }
  }
}
.popover-menu-item {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 18px;
  min-height: 30px;
  padding: 9px 24px 9px 16px;
  white-space: nowrap;
  margin: 4px;

  &.popover-menu-item-disabled {
    color: $tone-4-color;
  }

  &:hover:not(.popover-menu-item-disabled) {
    background-color: $tone-6-color;
    border-radius: $roundness-1;
    cursor: pointer;
  }

  &:focus {
    outline: 1px solid #222;
  }
}

.popover-menu {
  padding-top: 6px;
  padding-bottom: 6px;
}
