$brand-color: var(--playkit-primary-color);
$brand-color-dark: var(--playkit-primary-darker-color);
$text-selected-color: var(--playkit-primary-brighter-color);

$secondary-color: var(--playkit-secondary-color);

$primary-text-contrast: var(--playkit-primary-text-contrast-color);
$secondary-text-contrast: var(--playkit-secondary-text-contrast-color);

$tone-1: var(--playkit-tone-1-color);
$tone-2: var(--playkit-tone-2-color);
$tone-3: var(--playkit-tone-3-color);
$tone-6: var(--playkit-tone-6-color);
$tone-7: var(--playkit-tone-7-color);
$tone-8: var(--playkit-tone-8-color);

$roundness-1: 4px;
$roundness-3: 16px;

@mixin plugin-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(33, 33, 33, 0.9);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
