$main-color: #01accd;
$white-color: #ffffff;
$gray-color: #cccccc;
$darkgray-color: #333333;
$semigray-color: #666666;
$lightgray-color: #999999;
$black-color: #000000;
$semiblack-color: #222222;
$yellow-color: #fdd304;
$text-selection-color: #5b80a7;
$main-color-darken: darken($main-color, 10%);
$root-background: #000000a1;